@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
}
.small-container{
  width:100%;
  max-width:650px;
  border: 0;
  border-radius: 1.0rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.large-container{
  width:100%;
  max-width:960px;
}
.center-block{
  margin:0 auto;
}

.padding{
  padding: 10px 15px;
}

.margin-top{
  margin-top:1.5em;
  }
.field{
  @extend .margin-top;
  label {
    @extend .text-uppercase;
    @extend .text-secondary;
  }
&:first-of-type{
  margin-top:0;
  }
input{
  @extend .form-control;
  @extend .bg-light;
  }
input[type='checkbox']{
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin-right: 0.5em;
  }
}
.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
